<header th:fragment="entete">
	<h1 id="nav-title">
		<a href="/"><img th:src="@{/images/logoFilmotheque.png}" alt="" />Filmothèque</a>
		<th:block data-th-if="${membreEnSession != null && membreEnSession.id > 0}">
			<span data-th-text="'[' + ${membreEnSession.prenom} + ']'"></span>
		</th:block>
	</h1>
	<nav>
		<ul>
			<li><a th:href="@{/films}">Films</a></li>
			<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/films/creer}">Creer</a></li>
			<li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Connexion</a></li>
			<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Déconnexion</a></li>
		</ul>
		
	</nav>
</header>