<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Demo Spring Boot Web</title>
<link rel="icon" th:href="@{/images/logoENI.png}" />
<link rel="stylesheet" th:href="@{/css/general.css}" />
<link rel="stylesheet" th:href="@{/css/tp-form.css}" />
</head>
<body>
<header th:replace="~{fragments/fragment-entete :: entete}">
</header>

	<!-- Etape 2 : récupérer l'atribut du model "fomateur dans le th:object"
	et ajout de l'attribut th:field sur chaque champ.
	le th:field génère les attributs HTML name + value -->
	
	<form th:action="@{/login}" method="POST" >
		<h1>Connexion</h1>
		<p th:if="${param.error}">L'email ou le mot de passe saisie sont invalide</p>
		<ul class="flex-outer">
			<li>
				<label for="idUsername">Email</label>
				<input id="idUsername" type="text" name="username"/>
			</li>
			<li>
				<label for="idPassword">Password</label>
				<input id="idPassword" type="password" name="password"/>
			</li>
				
			</li>
			<li>
				<button type="submit">Enregistrer</button>
			</li>
		</ul>
	</form>
	
	

<footer th:replace="~{fragments/fragment-footer :: footer}">
</footer>

</body>
</html>